@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<button id='click-me'>Click me</button>

@section Scripts {
    <script src='@Url.Content("~/js/about.js")'></script>
}